h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 30px;
  background-color: lightblue;
}

li {
  font-size: 30px;
}

a {
  color: black;
}

img {
  border: 3px solid black;
}

body {
  background-image: url("http://previews.123rf.com/images/tonobalaguer/tonobalaguer1503/tonobalaguer150300329/37676392-Tropical-sea-water-texture-reflections-like-paradise-summer-vacation-Stock-Photo.jpg");
}
